html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  font-size: 12px;
  line-height: 1.75em;
}
@media (min-width: 600px) {
  html {
    font-size: calc( 12px + (20 - 12) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
a,
code,
dl,
ol,
ul,
form,
table {
  margin-bottom: 1.75em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #111;
  margin-bottom: 0;
  clear: both;
}
h1 {
  font-size: 27.854389952340615px;
  line-height: 1.507841315924089em;
}
@media (min-width: 600px) {
  h1 {
    font-size: calc( 27.854389952340615px + (46.42398325390103 - 27.854389952340615) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 46.42398325390103px;
    line-height: 1.507841315924089em;
  }
}
h2 {
  font-size: 23.53700340860508px;
  line-height: 1.784424264672744em;
}
@media (min-width: 600px) {
  h2 {
    font-size: calc( 23.53700340860508px + (39.2283390143418 - 23.53700340860508) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 39.2283390143418px;
    line-height: 1.784424264672745em;
  }
}
h3 {
  font-size: 19.88880497489178px;
  line-height: 2.111740753304286em;
}
@media (min-width: 600px) {
  h3 {
    font-size: calc( 19.88880497489178px + (33.1480082914863 - 19.88880497489178) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 33.1480082914863px;
    line-height: 2.111740753304286em;
  }
}
h4 {
  font-size: 16.806071548796314px;
  line-height: 2.499096822124866em;
}
@media (min-width: 600px) {
  h4 {
    font-size: calc( 16.806071548796314px + (28.01011924799386 - 16.806071548796314) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 28.01011924799386px;
    line-height: 2.499096822124866em;
  }
}
h5 {
  font-size: 14.201156945318075px;
  line-height: 2.957505516045072em;
}
@media (min-width: 600px) {
  h5 {
    font-size: calc( 14.201156945318075px + (23.66859490886346 - 14.201156945318075) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h5 {
    font-size: 23.66859490886346px;
    line-height: 2.957505516045072em;
  }
}
h6 {
  font-size: 12px;
  line-height: 3.5em;
}
@media (min-width: 600px) {
  h6 {
    font-size: calc( 12px + (20 - 12) * ((100vw - 600px) / (1000 - 600)) );
  }
}
@media (min-width: 1000px) {
  h6 {
    font-size: 20px;
    line-height: 3.5em;
  }
}
blockquote {
  font-style: italic;
  padding-left: 1.75em;
  border-left: 5px solid #ededed;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.875em;
  background: #fafafa;
  margin-bottom: 1.6625em;
}
pre code {
  background: none;
  padding: 0;
  border: 0;
}
code {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding: 0.0875em 0.2625em;
  background: #fafafa;
  line-height: 0;
}
big,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #111;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.875em 1.75em 1.75em;
  border: 1px solid #ededed;
}
legend {
  color: #111;
  font-weight: bold;
}
label {
  display: block;
  margin-bottom: 0.875em;
}
input[type="text"],
textarea {
  padding: 0.875em;
  border: 1px solid #ededed;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  padding: 0.875em;
  text-align: left;
  color: #111;
  border: 1px solid #ededed;
}
tr:nth-child(odd) td {
  background: #f7f7f7;
}
td {
  padding: 0.875em;
  border: 1px solid #ededed;
}
* {
  box-sizing: border-box;
}
html {
  padding: 5.25em;
  text-align: center;
}
@media (max-width: 800px) {
  html {
    text-align: left;
  }
}
.logo {
  height: 3.5em;
  margin-bottom: 5.25em;
  display: inline-block;
  box-shadow: 0 0 30px 20px #fff;
  background: #fff;
}
.logo img {
  height: 3.5em;
}
.wrap {
  max-width: 980px;
  margin: auto;
  text-align: left;
}
body {
  margin: 0;
}
body {
  background: linear-gradient(to top, rgba(0,0,255,0.1) 5%, #fff 5%);
  background-size: 100% 1.75em;
}
img {
  display: block;
}
.img-left {
  float: left;
  margin-right: 1.75em;
  border-radius: 999em;
}
.img-left.vr-block {
  height: 10.5em;
  margin-bottom: 1.75em;
}
