@import '../typographic'

*
  box-sizing: border-box

html
  padding: ($line-height-ratio * 3)em
  text-align: center
  @media (max-width: 800px)
    text-align: left

.logo
  margin-bottom: 3rem
  display: inline-block

.wrap
  max-width: 980px
  margin: auto
  text-align: left

body
  margin: 0
