@import 'typographic'

presets(major-sixth)

html
  font-family: garamond
  font-size: 12px
  @media (min-width: 600px)
    font-size: 14px
  @media (min-width: 800px)
    font-size: 16px
  @media (min-width: 1000px)
    font-size: 18px

t-headers(helvetica)


// Generic Styling
html
  background: #e74c3c
body
  margin: 0
header
  text-align: center
  margin: 40px auto
  h1
    color: darken(#e74c3c, 40%)
article
  background: #fff
  padding: 40px 20px
p:last-child
  margin-bottom: 0
