@import '../typographic';

html {
  padding: 3rem;
  text-align: center;
  @media (max-width: 800px) {
    text-align: left;
  }
}

.logo {
  margin-bottom: 3rem;
  display: block;
}

.wrap {
  max-width: 980px;
  margin: auto;
  text-align: left;
}
