// Typographic v2.0.3 - https://github.com/corysimmons/typographic


// Ratios

$minor-second   : 1.067;
$major-second   : 1.125;
$minor-third    : 1.2;
$major-third    : 1.25;
$perfect-fourth : 1.333;
$aug-fourth     : 1.414;
$perfect-fifth  : 1.5;
$minor-sixth    : 1.6;
$golden         : 1.618;
$major-sixth    : 1.667;
$minor-seventh  : 1.778;
$major-seventh  : 1.875;
$octave         : 2;
$major-tenth    : 2.5;
$major-eleventh : 2.667;
$major-twelfth  : 3;
$double-octave  : 4;


// Sans-serif

$calibri       : Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$candara       : Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$courier       : 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$franklin      : 'Franklin Gothic Medium', Arial, sans-serif;
$futura        : Futura, 'Trebuchet MS', Arial, sans-serif;
$geneva        : Geneva, Tahoma, Verdana, sans-serif;
$gill-sans     : 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
$helvetica     : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lucida-grande : 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
$optima        : Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
$segoe         : Segoe, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$tahoma        : Tahoma, Geneva, Verdana, sans-serif;
$trebuchet     : 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
$verdana       : Verdana, Geneva, sans-serif;


// Serif

$antiqua       : 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
$baskerville   : Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$bodoni        : 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$cambria       : Cambria, Georgia, serif;
$caslon        : 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
$constantia    : Constantia, Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
$didot         : Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$garamond      : Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
$goudy         : 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
$hoefler       : 'Hoefler Text', 'Baskerville old face', Garamond, 'Times New Roman', serif;
$lucida-bright : 'Lucida Bright', Georgia, serif;
$palatino      : Palatino, 'Palatino Linotype', 'Palatino LT STD', "Book Antiqua", Georgia, serif;


// Settings

$ratio              : $golden;
$line-height-ratio  : $golden;
$body-font          : $helvetica;
$body-font-weight   : 300;
$body-color         : #666;
$header-font        : $helvetica;
$header-font-weight : 500;
$header-color       : #111;
$min-font           : 10px;
$max-font           : 16px;
$min-width          : 600px;
$max-width          : 1000px;


// Private

@function _strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function _pow($number,$power) {
  $return: 1;
  @for $i from 0 to $power {
    @if $power > 0 {
      $return: $return * $number;
    } @else {
      $return: $return / $number;
    }
  }
  @return $return;
}


// Functionality

html {

  $min-font: $min-font + $ratio;
  $max-font: $max-font + $ratio;

  line-height: #{$line-height-ratio}em;

  font-family: $body-font;
  font-weight: $body-font-weight;
  color: $body-color;

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }

}

// Reset

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

p, blockquote, pre,
address,
a, code,
dl, ol, ul,
form,
table {
  margin-bottom: #{$line-height-ratio}em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $header-font-weight;
  line-height: ($line-height-ratio / 1.5) + em;
  margin-bottom: ($line-height-ratio * .25) + em;
  color: $header-color;
}

h1 {
  $min-font: $min-font * _pow($ratio, 12);
  $max-font: $max-font * _pow($ratio, 12);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

h2 {
  $min-font: $min-font * _pow($ratio, 10);
  $max-font: $max-font * _pow($ratio, 10);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

h3 {
  $min-font: $min-font * _pow($ratio, 8);
  $max-font: $max-font * _pow($ratio, 8);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

h4 {
  $min-font: $min-font * _pow($ratio, 6);
  $max-font: $max-font * _pow($ratio, 6);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

h5 {
  $min-font: $min-font * _pow($ratio, 4);
  $max-font: $max-font * _pow($ratio, 4);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

h6 {
  $min-font: $min-font * _pow($ratio, 2);
  $max-font: $max-font * _pow($ratio, 2);

  font-size: $min-font;

  @media (min-width: $min-width) {
    font-size: calc( #{$min-font} + (#{_strip-units($max-font)} - #{_strip-units($min-font)}) * ((100vw - #{$min-width}) / (#{_strip-units($max-width)} - #{_strip-units($min-width)})) );
  }

  @media (min-width: $max-width) {
    font-size: $max-font;
  }
}

blockquote {
  font-style: italic;
  padding-left: #{$line-height-ratio}em;
  border-left: 5px solid darken(white, 7%);
  cite {
    display: block;
    font-style: normal;
  }
}

pre {
  padding: ($line-height-ratio * .25) + em;
  background: darken(white, 2%);
  border: 1px solid darken(white, 7%);
  code {
    background: none;
    padding: 0;
    border: 0;
  }
}

code {
  font-family: $courier;
  padding: ($line-height-ratio * .05) + em ($line-height-ratio * .15) + em;
  background: darken(white, 2%);
  border: 1px solid darken(white, 7%);
}

abbr, acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}

address {
  font-style: normal;
}

dt {
  color: $header-color;
  font-weight: bold;
}

dd {
  margin-bottom: ($line-height-ratio * .25) + em;
}

ul {
  padding-left: 1.1em;
  li {
    margin-bottom: ($line-height-ratio * .25) + em;
  }
}

ol {
  padding-left: 1.4em;
  li {
    margin-bottom: ($line-height-ratio * .25) + em;
  }
}

fieldset {
  padding: ($line-height-ratio * .5) + em;
  border: 1px solid darken(white, 7%);
}

legend {
  color: $header-color;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: ($line-height-ratio * .5) + em;
}

input[type="text"], textarea {
  padding: ($line-height-ratio * .5) + em;
  border: 1px solid darken(white, 7%);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  padding: ($line-height-ratio * .5) + em;
  text-align: left;
  color: $header-color;
  border: 1px solid darken(white, 7%);
}

tr {
  &:nth-child(odd) {
    td {
      background: darken(white, 3%);
    }
  }
}

td {
  padding: ($line-height-ratio * .5) + em;
  border: 1px solid darken(white, 7%);
}
