@import '../../typographic'

t-presets()
t-headers(helvetica)

html
  font-family: garamond
  font-size: 10px
  background: lighten(red, 60%)
  @media (min-width: 600px)
    font-size: 12px
    background: lighten(red, 40%)
  @media (min-width: 800px)
    font-size: 14px
    background: lighten(red, 20%)
  @media (min-width: 1000px)
    font-size: 16px
    background: red


// Misc
label
  span
    display: block
fieldset
  border: 1px solid black
