+above(typo_breakpoint)
  html
    font-size: ms(10, sr)
    line-height: ms(15, sr)
  h1
    font-size: ms(28, sr)
    line-height: ms(30, sr)
    margin-bottom: ms(10, sr)
  h2
    font-size: ms(25, sr)
    line-height: ms(28, sr)
    margin-bottom: ms(8, sr)
  h3
    font-size: ms(22, sr)
    line-height: ms(26, sr)
    margin-bottom: ms(6, sr)
  h4
    font-size: ms(19, sr)
    line-height: ms(24, sr)
    margin-bottom: ms(4, sr)
  h5
    font-size: ms(16, sr)
    line-height: ms(22, sr)
    margin-bottom: ms(2, sr)
  h6
    font-size: ms(13, sr)
    line-height: ms(20, sr)
    margin-bottom: ms(0, sr)
  p, ul, ol, pre, dl
    margin-bottom: ms(10, sr)
  li, dd
    margin-bottom: ms(5, sr)
  pre
    font-size: ms(8, sr)
  header
    h1
      ~ p
        margin-top: -(ms(5, sr))
    h2
      ~ p
        margin-top: -(ms(4, sr))
    h3
      ~ p
        margin-top: -(ms(3, sr))
    h4
      ~ p
        margin-top: -(ms(2, sr))
    h5
      ~ p
        margin-top: -(ms(1, sr))
    h6
      ~ p
        margin-top: -(ms(1, sr))
