+above(typo_breakpoint)
  html
    font-size: ms(10, typo_desktop)
    line-height: ms(15, typo_desktop)
  h1
    font-size: ms(28, typo_desktop)
    line-height: ms(30, typo_desktop)
    margin-bottom: ms(10, typo_desktop)
  h2
    font-size: ms(25, typo_desktop)
    line-height: ms(28, typo_desktop)
    margin-bottom: ms(8, typo_desktop)
  h3
    font-size: ms(22, typo_desktop)
    line-height: ms(26, typo_desktop)
    margin-bottom: ms(6, typo_desktop)
  h4
    font-size: ms(19, typo_desktop)
    line-height: ms(24, typo_desktop)
    margin-bottom: ms(4, typo_desktop)
  h5
    font-size: ms(16, typo_desktop)
    line-height: ms(22, typo_desktop)
    margin-bottom: ms(2, typo_desktop)
  h6
    font-size: ms(13, typo_desktop)
    line-height: ms(20, typo_desktop)
    margin-bottom: ms(0, typo_desktop)
  p, ul, ol, pre, dl
    margin-bottom: ms(10, typo_desktop)
  li, dd
    margin-bottom: ms(5, typo_desktop)
  pre
    font-size: ms(8, typo_desktop)
  header
    h1
      ~ p
        margin-top: -(ms(5, typo_desktop))
    h2
      ~ p
        margin-top: -(ms(4, typo_desktop))
    h3
      ~ p
        margin-top: -(ms(3, typo_desktop))
    h4
      ~ p
        margin-top: -(ms(2, typo_desktop))
    h5
      ~ p
        margin-top: -(ms(1, typo_desktop))
    h6
      ~ p
        margin-top: -(ms(1, typo_desktop))
