// Sans-serif
calibri       = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
candara       = Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
franklin      = "Franklin Gothic Medium", Arial, sans-serif
futura        = Futura, "Trebuchet MS", Arial, sans-serif
geneva        = Geneva, Tahoma, Verdana, sans-serif
gill-sans     = "Gill Sans", "Gill Sans MT", Calibri, sans-serif
helvetica     = "Helvetica Neue", Helvetica, Arial, sans-serif
lucida-grande = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
optima        = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
segoe         = Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif
tahoma        = Tahoma, Geneva, Verdana, sans-serif
trebuchet     = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif
verdana       = Verdana, Geneva, sans-serif

// Serif
antiqua       = "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
baskerville   = Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif
bodoni        = "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
cambria       = Cambria, Georgia, serif
caslon        = "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif
constantia    = Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
didot         = Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
garamond      = Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
goudy         = "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif
hoefler       = "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif
lucida-bright = "Lucida Bright", Georgia, serif
palatino      = Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
