// Calculate font-size in rems
// Assumption is that h5 (where i = 4) will be the same size as base
t-scale(r = ratio, s = steps, i = index)
  return unit(r ** ((4 - i) / s), rem)

// Set font stack for headers
t-headers(font-stack = helvetica)
  h1, h2, h3, h4, h5, h6
    font-family: font-stack
