html
  font-family: typo_body
  font-weight: 200
  color: typo_body_color
  font-size: ms(10)
  line-height: ms(15)
a
  color: blue
  &:hover
    color: darken(blue, 10%)
h1, h2, h3, h4, h5, h6, p, ul, ol, dt, pre, code
  margin-top: 0
h1, h2, h3, h4, h5, h6, dt
  font-family: typo_headers
  font-weight: typo_header_weight
  color: typo_header_color
  if typo_headers is optima
    letter-spacing: -.015em
  if typo_headers is futura
    letter-spacing: -.035em
  if typo_headers is gill_sans
    letter-spacing: 0
  if typo_headers is trebuchet
    letter-spacing: -.025em
  if typo_headers is helvetica
    letter-spacing: -.015em
  if typo_headers is verdana
    letter-spacing: -.045em
  if typo_headers is lucida_grande
    letter-spacing: -.045em
  if typo_headers is segoe
    letter-spacing: .015em
  if typo_headers is candara
    letter-spacing: -.025em
  if typo_headers is calibri
    letter-spacing: -.025em
  if typo_headers is franklin
    letter-spacing: -.025em
  if typo_headers is tahoma
    letter-spacing: 0
  if typo_headers is garamond
    letter-spacing: -.015em
  if typo_headers is lucida_bright
    letter-spacing: -.015em
  if typo_headers is palatino
    letter-spacing: -.015em
  if typo_headers is caslon
    letter-spacing: .025em
  if typo_headers is didot
    letter-spacing: -.035em
  if typo_headers is baskerville
    letter-spacing: -.025em
  if typo_headers is hoefler
    letter-spacing: -.025em
  if typo_headers is bodoni
    letter-spacing: -.025em
  if typo_headers is goudy
    letter-spacing: .025em
  if typo_headers is constantia
    letter-spacing: -.025em
  if typo_headers is cambria
    letter-spacing: 0
  if typo_headers is antiqua
    letter-spacing: -.015em
h1
  font-size: ms(28)
  line-height: ms(30)
  margin-bottom: ms(10)
h2
  font-size: ms(25)
  line-height: ms(28)
  margin-bottom: ms(8)
h3
  font-size: ms(22)
  line-height: ms(26)
  margin-bottom: ms(6)
h4
  font-size: ms(20)
  line-height: ms(24)
  margin-bottom: ms(4)
h5
  font-size: ms(16)
  line-height: ms(22)
  margin-bottom: ms(2)
h6
  font-size: ms(13)
  line-height: ms(20)
  margin-bottom: ms(0)
p, ul, ol, pre, dl
  margin-bottom: ms(10)
ul, ol
  padding-left: 1.4em
li, dd
  margin-bottom: ms(5)
pre
  font-size: ms(8)
header
  p
    color: typo_tagline_color
  h1
    ~ p
      margin-top: -(ms(5))
  h2
    ~ p
      margin-top: -(ms(4))
  h3
    ~ p
      margin-top: -(ms(3))
  h4
    ~ p
      margin-top: -(ms(2))
  h5
    ~ p
      margin-top: -(ms(1))
  h6
    ~ p
      margin-top: -(ms(1))
code
  padding: 3px 4px
  color: typo_body_color
  background-color: #F5F5F5
  border: 1px solid #E1E1E8
  border-radius: 3px
  font-family: Menlo, Monaco, monospace
pre
  display: block
  padding: 7px
  background-color: #F5F5F5
  border: 1px solid #E1E1E8
  border-radius: 3px
  white-space: pre-wrap
  word-break: break-all
  font-family: Menlo, Monaco, monospace
  line-height: 160%
  code
    border: 0
