// Pass in some reasonable defaults
presets(ratio = golden, steps = 2, header-line-height = 1.1, body-line-height = 1.4, margin-bottom-ratio = (1 - 1 / ratio))

  // Reset
  h1, h2, h3, h4, h5, h6, p, ul, ol
    margin: 0

  // Headers
  h1, h2, h3, h4, h5, h6
    line-height: header-line-height

  for element, index in h1 h2 h3 h4 h5 h6
    {element}
      font-size:     t-scale(ratio, steps, index)
      margin-bottom: @font-size * margin-bottom-ratio

  // Body
  p, ul, ol
    font-size:     t-scale(ratio, steps, index = 4)
    line-height:   body-line-height
    margin-bottom: @font-size * margin-bottom-ratio
