t-presets(ratio = golden)

  // Headers
  h1, h2, h3, h4, h5, h6
    margin-top:    0
    margin-bottom: t-scale(.5, ratio)
  h1
    font-size:     t-scale(2, ratio)
    line-height:   t-scale(2, ratio)
  h2
    font-size:     t-scale(1.75, ratio)
    line-height:   t-scale(1.75, ratio)
  h3
    font-size:     t-scale(1.5, ratio)
    line-height:   t-scale(1.5, ratio)
  h4
    font-size:     t-scale(1.25, ratio)
    line-height:   t-scale(1.25, ratio)
  h5
    font-size:     t-scale(1, ratio)
    line-height:   t-scale(1, ratio)
  h6
    font-size:     t-scale(.75, ratio)
    line-height:   t-scale(.75, ratio)

  // Base
  p, ul, ol, label, input, textarea, fieldset, dl, blockquote
    font-size:     t-scale(1, ratio)
    line-height:   t-scale(1.5, ratio)
    margin-top:    0
    margin-bottom: t-scale(1, ratio)
  label
    margin-bottom: 0
  ul
    padding-left: t-scale(1.2, ratio)
  ol
    padding-left: t-scale(1.3, ratio)
  li, dd
    margin-bottom: t-scale(.25, ratio)
  dt
    font-weight: bold
  dd
    margin-left: 0
  blockquote
    margin-left: 0
    cite
      display: block

