presets(ratio = golden)

  // Reset
  h1, h2, h3, h4, h5, h6, p, ul, ol
    margin: 0

  // Headers
  h1, h2, h3, h4, h5, h6
    margin-bottom: t-scale(.5, ratio)
  h1
    font-size:     t-scale(2, ratio)
    line-height:   t-scale(2, ratio)
  h2
    font-size:     t-scale(1.75, ratio)
    line-height:   t-scale(1.75, ratio)
  h3
    font-size:     t-scale(1.5, ratio)
    line-height:   t-scale(1.5, ratio)
  h4
    font-size:     t-scale(1.25, ratio)
    line-height:   t-scale(1.25, ratio)
  h5
    font-size:     t-scale(1, ratio)
    line-height:   t-scale(1, ratio)
  h6
    font-size:     t-scale(.75, ratio)
    line-height:   t-scale(.75, ratio)

  // Misc
  p, ul, ol
    font-size:     t-scale(1, ratio)
    line-height:   t-scale(1.25, ratio)
    margin-bottom: t-scale(1, ratio)
