// Settings
typo_breakpoint ?= 800px
typo_headers ?= helvetica
typo_header_color ?= #111
typo_header_weight ?= 200
typo_tagline_color ?= #aaa
typo_body ?= helvetica
typo_body_color ?= #444
typo_mobile ?= major_third
typo_desktop ?= octave

// Named Ratios - http://modularscale.com
minor_second = 1.067
major_second = 1.125
minor_third = 1.2
major_third = 1.25
perfect_fourth = 1.333
aug_fourth = 1.414
perfect_fifth = 1.5
minor_sixth = 1.6
golden = 1.618
major_sixth = 1.667
minor_seventh = 1.778
major_seventh = 1.875
octave = 2
major_tenth = 2.5
major_eleventh = 2.667
major_twelfth = 3
double_octave = 4

// Font Stacks - http://www.awayback.com/revised-font-stack
// Sans-serif
optima = Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif
futura = Futura, "Trebuchet MS", Arial, sans-serif
gill_sans = "Gill Sans", "Gill Sans MT", Calibri, sans-serif
trebuchet = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
verdana = Verdana, Geneva, sans-serif
lucida_grande = "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
geneva = Geneva, Tahoma, Verdana, sans-serif
segoe = Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif
candara = Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif
calibri = Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif
franklin = "Franklin Gothic Medium", Arial, sans-serif
tahoma = Tahoma, Geneva, Verdana, sans-serif

// Serif
garamond = Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
lucida_bright = "Lucida Bright", Georgia, serif
palatino = Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
caslon = "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif
didot = Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
baskerville = Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif
hoefler = "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif
bodoni = "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif
goudy = "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif
constantia = Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
cambria = Cambria, Georgia, serif
antiqua = "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif
